<html>
	<body>
		<form action="/products" method="post">
			<div>
				<label for="name">Product name</label>
				<input type="text" id="name" name="Name" placeholder="Type the product name"></input>
			</div>
			<div>
				<label for="price">Product price</label>
				<input type="text" id="price" name="Price" placeholder="2.50"></input>
			</div>
			<div>
				<label for="description">Product description</label>
				<textarea cols="10" rows="10" id="description" name="Description" placeholder="Type the product description"></textarea>
			</div>

			<input type="submit" value="Save"></input>
		</form>
	</body>
</html>