<html>
	<body>
		<form action="/products/save" method="post">
			<div>
				<label for="productTitle">Product title</label>
				<input type="text" id="productTitle" name="Title" placeholder="Type the product title"></input>
			</div>
			<div>
				<label for="productPrice">Product price</label>
				<input type="text" id="productPrice" name="Price" placeholder="2.50"></input>
			</div>
			<div>
				<label for="description">Product description</label>
				<textarea cols="10" rows="10" id="description" name="Description" placeholder="Type the product description"></textarea>
			</div>

			<input type="submit" value="Save"></input>
		</form>
	</body>
</html>